<?xml version="1.0"?>
<configuration>
  <system.net>
  </system.net>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="google_client_id" value="Client-id from Google app"/>
    <add key="google_client_sceret" value="Secret key from Google App"/>
    <add key="google_app_name" value="App Name"/>
    <add key="google_redirect_url" value="Redirect url of you app"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
  </system.web>
  <system.webServer>
  </system.webServer>
</configuration>