<?xml version="1.0"?>
<configuration>
  <system.net>
  </system.net>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
     <add key="google_client_id" value="481509537475-u7hc3vv4nhrli4blaatvnv3erbdqlv26.apps.googleusercontent.com"/>
  <add key="google_client_sceret" value="STp2yaQeUFr5-hJHeJfw_WH4"/> 
   <add key="google_app_name" value="Testapp"/>
    <add key="google_redirect_url" value="http://localhost:62105/index.aspx"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
  </system.web>
  <system.webServer>
  </system.webServer>
</configuration>